hr {
margin: auto;
width: 40%;
}

h3 {
text-align: center;
font-size: 24px;

}


@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}

h2 {
font-weight: 800;
text-align: center;
font-size: 36px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#div1 {animation-timing-function: ease;}
     img {
  border-radius: 10px;
  max-width: 80%;
  height: auto;
}
    .text {
        text-align: center;
        width: 100%;
      }
      .text2 {
        text-align: left;
        width: 100%;
      }
      .text3 {
        text-align: right;
        width: 100%;
      }

      @font-face {
  font-family: "sans-serif";
  src: url("assets/Quicksand-VariableFont_wght.ttf") format("truetype");
}